.CFUserTextEncoding
.Trash
.bash_history
.cups
.dropbox
.gem
.heroku
.lesshst
.mysql_history
.netrc
.npm
.pip
.rbenv
.ssh
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
_code
